#my-form{
    margin-left: 20%;
    margin-right: 20%;
    margin-top:   8%;
    border: solid 5px lightgray;
    box-shadow: 4px, 2px, 4px, 2px; 
    height: 1200px;
    width: 60%;
}

#boxed{
    border: solid 1px;
    margin-top: 30px;
    margin-left: 30px;
    width: 60%;
}

label{
    padding: 10px;
    margin-top: 5px;
    width: 100px;
    display: inline-block;
    text-align: right;
}
input[type="checkbox"]{
    font-size: 4px;
}
input[type="button"]{
    float: center;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
    margin-bottom: 3px;
    margin-left: 3px;
    object-position: center;
}
input[type="text"]{
  text-align: left;
}

table{
    margin-left: 30px;
    width: 650px;
}
table, th, td{
    border: solid 1px lightgray;
    border-collapse: collapse;

}
th{
    font-size: 12px;
    text-align: center;
    background: lightgrey;
    border-color: #777;
    
}

th, td{
    padding: 10px;
    display: table-cell;
}

td{
    text-align: center;
    border-width:
}
td:nth-child(4){
    text-decoration: underline;
        color: blue;
}
td:nth-child(1){
    white-space: nowrap;
}

table td.expand{
    white-space: nowrap;
}
table th.shrink{
column-span: 8%;
}
th:nth-child(2){
    white-space: nowrap;
}
